.title {
    text-align: center;
}

.sampleText {
    font-family: "Lucida Console" ;
    color: #8B0000 ;
}

.userStories {
    background-color: #ADD8E6;
    padding: 10px ;
}

.getty {
    padding: 10px;
    font-style: italic;
    text-align: center;
}

.examples {
    padding: 10px ;
}